/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 11, 2019, 10:16:27 AM
    Author     : ferdi
*/
section {
  position: relative;
}

.img-logo {
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 0 5px 0;
}

.flexbox > div {
  margin: 5px;
}

.form-inline > * {
  margin: 0 5px;
}

.row {
  align-items: center;
}

.custom-file-label {
    padding-left: 4.75rem;
}
.custom-file-label::after {
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}

/* loading style */
.loading-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  /* display: none; */
}

.text-capitalize {
  text-transform: capitalize;
}

/* custom main */
.login-head {
  text-align: left !important;
}

#tb_datanilai th {
  vertical-align: middle;
}