/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 11, 2019, 10:16:27 AM
    Author     : ferdi
*/
section {
  height: 100%;
  width: 100%;
  position: relative;
}

.img-logo {
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 0 5px 0;
}

.flexbox > div {
  margin: 5px;
}

.form-inline > * {
  margin: 0 5px;
}

.row {
  align-items: center;
}

.custom-file-label {
    padding-left: 4.75rem;
}
.custom-file-label::after {
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}

/* loading style */
.loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.loading-container img {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

/* custom main */
.login-head {
  text-align: left !important;
}

#tb_datanilai th {
  vertical-align: middle;
}

.btn .fa {
  margin-right: 0;
}

#form_penilaian input[type=text] {
  text-align: center !important;
}